@charset "utf-8";
/* CSS Document */

.wrap{ width: 720px; height: auto; background-color:#cde6f6; margin:0 auto;}

.header{ position:relative; padding:40px 10px 10px; border-bottom: 1px solid #478b8f;}
.header h1{ position:absolute; left:50%; top:20px; font-size:28px; color:#478b8f; text-align:center;
-webkit-transform:translateX(-50%);
-moz-transform:translateX(-50%);
-o-transform:translateX(-50%);
transform:translateX(-50%);
}
.header ol li{ float: right;}
.header ol a{ font-size:12px; color:#478b8f;}
.header .msg{ padding-left:180px; margin-top:10px;}
.header .msg li{ float: left; font-size:14px; color:#333; padding:0 6px;}
.header .msg .time{ float: right; font-size:12px; color:#999;}

.main-top{ height: 300px; padding-top:20px; text-align:center;}
.health{ font-size: 16px;color: #fff;padding:8px 14px 8px 24px;background-color: #ff563f;}

#indicatorContainer{ position:relative;}
#indicatorContainer canvas:nth-of-type(1){ position:absolute; left:25%; top:40px;}
#indicatorContainer canvas:nth-of-type(2){ position:absolute; right:25%; top:70px;}
#indicatorContainer span{position:absolute; font-size:16px; color:#478b8f;}
#indicatorContainer .grade{ left:30%; top:190px;}
#indicatorContainer .bim{ right:30%; top:170px;}

.main-bottom{ height: 840px; position:relative;text-align:center;}
.main-bottom ul{ margin-bottom:20px;}
.main-bottom ul li{ float: left; width: 33.33%;border-right: 1px solid #fff; background-color: #46d8cc; font-size:16px; color:#fff;padding:5px 0; cursor:pointer;}
.main-bottom ul li:last-of-type{ border-right:none;}
.main-bottom span{ position:absolute;font-size:16px; font-weight:700; color:#478b8f;}
.main-bottom span:nth-of-type(1){ left:46%; top:108px;}
.main-bottom span:nth-of-type(2){ left:18%; top:204px;}
.main-bottom span:nth-of-type(3){ left:10%; top:274px;}
.main-bottom span:nth-of-type(4){ left:4%; top:386px;}
.main-bottom span:nth-of-type(5){ left:4%; top:476px;}
.main-bottom span:nth-of-type(6){ left:12%; top:586px;}
.main-bottom span:nth-of-type(7){ left:21%; top:660px;}
.main-bottom span:nth-of-type(8){ left:44%; top:764px;}
.main-bottom span:nth-of-type(9){ right:22%; top:650px;}
.main-bottom span:nth-of-type(10){ right:11%; top:566px;}
.main-bottom span:nth-of-type(11){ right:1%; top:504px;}
.main-bottom span:nth-of-type(12){ right:3%; top:370px;}
.main-bottom span:nth-of-type(13){ right:8%; top:274px;}
.main-bottom span:nth-of-type(14){ right:20%; top:204px;}

#indicatorContainer2{ position:relative;}
#indicatorContainer2 canvas{ position:absolute;}
#indicatorContainer2 canvas:nth-of-type(1){ left:45%; top:40px;}
#indicatorContainer2 canvas:nth-of-type(2){ left:30%; top:90px;}
#indicatorContainer2 canvas:nth-of-type(3){ left:20%; top:170px;}
#indicatorContainer2 canvas:nth-of-type(4){ left:14%; top:270px;}
#indicatorContainer2 canvas:nth-of-type(5){ left:14%; top:370px;}
#indicatorContainer2 canvas:nth-of-type(6){ left:21%; top:460px;}
#indicatorContainer2 canvas:nth-of-type(7){ left:31%; top:540px;}
#indicatorContainer2 canvas:nth-of-type(8){ left:45%; top:596px;}
#indicatorContainer2 canvas:nth-of-type(9){ right:31%; top:540px;}
#indicatorContainer2 canvas:nth-of-type(10){ right:21%; top:460px;}
#indicatorContainer2 canvas:nth-of-type(11){ right:14%; top:370px;}
#indicatorContainer2 canvas:nth-of-type(12){ right:14%; top:270px;}
#indicatorContainer2 canvas:nth-of-type(13){ right:20%; top:170px;}
#indicatorContainer2 canvas:nth-of-type(14){ right:30%; top:90px;}

