@charset "utf-8";
/* CSS Document */

.wrap{ width: 720px; height: auto; background-color:#fff; margin:0 auto;}

/* ----------- header ----------- */
.header{ width: 100%; height: 66px; border-bottom: 1px solid #248aaa; padding:0 10px;}
.header li{ position:absolute;
-webkit-transform:translateY(-50%);
-moz-transform:translateY(-50%);
transform:translateY(-50%);}
.header li:nth-of-type(1){ left: 0;top: 50%;}
.header li:nth-of-type(2){ left:50%;top: 50%;
-webkit-transform:translate(-50%,-50%);
-moz-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);}
.header li:nth-of-type(3){ right: 0;top: 50%;}
.header .logo{ display:block;}
.header h1{ font-size:24px; color:#47b1d6; font-weight:700;}
.s-btn{ font-size:12px; color:#fff; background-color: #269ec4; border-radius:5px;padding: 3px 16px;}

/* ----------- cell ----------- */
.cell{padding:30px 16px 20px;}
.cell>div{ float: left; }
.cell .pic{ width: 11%; border:2px solid #f5c743; border-radius:50%;}
.cell .pic img{ border-radius:50%;}
.cell .cell-msg{ width: 89%; padding-left:20px;}
.cell .cell-msg li{ float: left; font-size:18px; font-weight:700; }
.cell .cell-msg li span{ display:inline-block; width: 27px; height: 27px; text-align:center; line-height:27px; font-size:14px; color:#fff; font-weight:normal;}
.lev-green{ background:url(../img/green.png) no-repeat center center;}
.lev-blue{ background:url(../img/blue.png) no-repeat center center;}
.lev-yellow{ background:url(../img/yellow.png) no-repeat center center;}
.lev-orange{ background:url(../img/orange.png) no-repeat center center;}
.lev-red{ background:url(../img/red.png) no-repeat center center;}

.cell li.cell-name{ color:#343434; margin-left: 110px;}
.cell li.cell-score{ color:#f4b40d; padding: 0 16px;}
.cell li.cell-detail{ font-size:14px; color:#4b4a4a; font-weight:normal; text-indent:2em; margin-top:5px;}

/* ----------- column ----------- */
.w{ width: 95%; margin:0 auto;}
.column{padding:16px 40px 20px; border: 1px solid #47b1d6; border-radius:10px;}
.column li{ position:relative; float: left; width: 16.66%; text-align:center; color:#343434; font-size:12px;}
.column .column-bg{ height:172px; position:relative; background:url(../img/score-bg.png) no-repeat center bottom; margin: 28px 0 6px;}
.column .column-h{ width: 30px; height: 120px; position:absolute; left:50%; bottom: 53px;
-webkit-transform:translateX(-50%);
-moz-transform:translateX(-50%);
transform:translateX(-50%);}
.column .column-real{ width: 100%; height: 100%; position:absolute; left: 0; bottom: 0;}
.column .column-score{ width: 100%; position:absolute; left:50%; top: 0; font-size:14px;
-webkit-transform:translateX(-50%);
-moz-transform:translateX(-50%);
transform:translateX(-50%);}

.column-real-green{background:url(../img/score-green.png) repeat-y;}
.column-real-blue{background:url(../img/score-blue.png) repeat-y;}
.column-real-yellow{background:url(../img/score-yellow.png) repeat-y;}
.column-real-orange{background:url(../img/score-orange.png) repeat-y;}
.column-real-red{background:url(../img/score-red.png) repeat-y;}

/* ----------- shade ----------- */
.shade{ display:inline-block; width: 100%; margin:20px 0;}
.shade ul{ width: 558px; margin:0 auto;}
.shade li{ width: 93px; height: 168px; float: left; padding:50px 0; background:url(../img/1-1.png) no-repeat left top;line-height: 34px; text-align:center; font-size:12px; color:#343434;}
.shade li span{ font-size:22px;}

/* ----------- vv ----------- */
.vv,.vvv{ height: 250px; background:url(../img/1-2.png) no-repeat left bottom; padding: 19px 126px 68px 82px; margin-top:20px;}
.vvv{ background:url(../img/vvv.png) no-repeat center center; padding: 16px 126px 68px 82px;}
.vv ul,.vvv ul{ position:relative;}
.vv li,.vvv li{ position:absolute; width:50px; height:50px; line-height:50px; color:#fff;  font-size:13px; text-align:center; border-radius:6px;}
.vv li:nth-of-type(1){ left: 0; top: 0; }
.vv li:nth-of-type(2){ left:170px; top: 0; }
.vv li:nth-of-type(3){ left:340px; top: 0; }
.vv li:nth-of-type(4){ left: 84px; top: 114px;}
.vv li:nth-of-type(5){ left: 254px; top: 114px;}
.vv li:nth-of-type(6){ left: 424px; top: 114px;}
.vv p,.vvv p{ color:#343434; line-height:18px; font-size:12px; margin-top: 10px;}
.vvv li:nth-of-type(1){ left: 56px; top: 0; }
.vvv li:nth-of-type(2){ left:225px; top: 0; }
.vvv li:nth-of-type(3){ left:396px; top: 0; }
.vvv li:nth-of-type(4){ left: 140px; top: 114px;}
.vvv li:nth-of-type(5){ left: 311px; top: 114px;}

/* ----------- six ----------- */
.six{ height: 245px;}
.six ul{ position: relative; width:340px; height: 100%; margin: 0 auto;}
.six li{ position:absolute; width:88px; text-align:center; color:#343434;}
.six li:nth-of-type(1){ left: 0; top: 0; }
.six li:nth-of-type(2){ left: 173px; top: 0; }
.six li:nth-of-type(3){ left: 86px; top: 60px; }
.six li:nth-of-type(4){ left: 258px; top: 60px}
.six li:nth-of-type(5){ left: 0px; top: 104px;}
.six li:nth-of-type(6){ left: 173px; top: 104px;}
.six li:nth-of-type(7){ left: 86px; top: 154px;}
.six li span{ display:inline-block; line-height:66px; font-size:14px;}
.six li p{ line-height: 20px; font-size:12px;}

.six-green{ background:url(../img/six-green.png) no-repeat center top;}
.six-blue{ background:url(../img/six-blue.png) no-repeat center top;}
.six-yellow{ background:url(../img/six-yellow.png) no-repeat center top;}
.six-orange{ background:url(../img/six-orange.png) no-repeat center top;}
.six-red{ background:url(../img/six-red.png) no-repeat center top;}

/* ----------- table ----------- */
.table{ margin-top:20px;}
.table .thead{ width: 100%; height:32px; background-color: #47b1d6; margin-bottom:4px; }
.table .thead li{ float: left; width: 25%; line-height:32px; color:#fff; font-size:14px; text-align: center; }
.table .thead li:nth-of-type(1){ width: 17%;}
.table .thead li:nth-of-type(2){ width: 15%;}
.table .thead li:nth-of-type(3){ width: 26%;}
.table .thead li:nth-of-type(4){ width: 42%;}

.table .tbody{ margin-bottom:70px;}
.table .tbody ul{ border-bottom: 1px solid #d3eef8;}
.table .tbody li{ float: left; width: 25%; line-height:48px; color:#343434; font-size:12px; text-align: center; }
.table .tbody li:nth-of-type(1){ width: 17%; position:relative; padding-left:22px; text-align:left;}
.table .tbody li:nth-of-type(1) em{ width:8px; height:8px; position:absolute; left:6px; top: 50%; border-radius:50%;
-webkit-transform:translateY(-50%);
-moz-transform:translateY(-50%);
transform:translateY(-50%);}
.table .tbody li:nth-of-type(2){ width: 15%;}
.table .tbody li:nth-of-type(3){ width: 26%;}
.table .tbody li:nth-of-type(4){ width: 42%; line-height:14px; padding:10px 0; text-align:left;}

.color-green{ color:#249214 !important;}
.color-blue{ color:#469fee !important;}
.color-yellow{ color:#f1b61b !important;}
.color-orange{ color:#f67510 !important;}
.color-red{ color:#fa0000 !important;}
.bg-green{ background-color:#249214;}
.bg-blue{ background-color:#469fee;}
.bg-yellow{ background-color:#f1b61b;}
.bg-orange{ background-color:#f67510;}
.bg-red{ background-color:#fa0000;}

/* ----------- 风险评估 ----------- */
.disease{ width: 100%; height: 513px; margin:80px 0; padding-top:66px; background:url(../img/disease-bg.png) no-repeat center center;}
.disease li{ float: left; min-width:51px; color:#fff; font-size:12px; text-align:center; margin-right:8px;}
.disease .ul-Width{ margin:0 auto;}
.disease>div{ position:relative;}

.disease-red:after,.disease-orange:after,.disease-yellow:after,.disease-blue:after,.disease-green:after{ position:absolute; right: 0; top: 0; font-size:16px;}

.disease-red{ height:108px; padding-top:20px; border-top: 1px solid #fa0000;}
.disease-red:after{ content:'高风险'; color:#fa0000;}

.disease-orange{ padding-top:16px;height:109px; border-top: 1px solid #f67510;}
.disease-orange:after{ content:'中风险'; color:#f67510;}

.disease-yellow{ height:103px; border-top: 1px solid #f1b61b; padding-top:12px;}
.disease-orange:after{ content:'低风险'; color:#f1b61b;}

.disease-blue{ border-top: 1px solid #469fee;}
.disease-blue:after{ content:'基本风险'; color:#469fee;}

.disease-green{ height: 60px; padding-top:8px; border-top: 1px solid #249214;}
.disease-green:after{ content:'无风险'; color:#249214;}

.disease-per{ width:100%;height: 51px; line-height: 49px; }
.disease-name{ font-size:12px; color:#343434;}

.ul-Width { max-width:720px;}
.ul-Width li:last-of-type{ margin-right:0;}

.circle-green{ background:url(../img/circle-green.png) no-repeat center center;}
.circle-blue{ background:url(../img/circle-blue.png) no-repeat center center;}
.circle-yellow{ background:url(../img/circle-yellow.png) no-repeat center center;}
.circle-orange{ background:url(../img/circle-orange.png) no-repeat center center;}
.circle-red{ background:url(../img/circle-red.png) no-repeat center center;}


/* ----------- msg ----------- */
.msg{ position:relative; line-height: 32px; text-align:center; margin-bottom:8px;}
.msg span:last-of-type{ position:absolute; right: 0; top: 0; color:#9e9c9c;}
.msg .sex{ margin:0 12px;}

/* ----------- details ----------- */
.details{ line-height:20px; color:#4b4a4a;margin-bottom:20px;}
.details p{ font-size:13px;}
.details .detaile-t{line-height: 27px; font-size:15px; background:url(../img/007.png) no-repeat left center; padding-left:30px;}
.details span{ color:#f2b710;}

/* ----------- grade ----------- */
.body-bg{ height:auto; background:url(../img/body-bg.png) no-repeat center bottom; background-size:contain;}

.grade{ position:relative; padding-left:16%;}
.grade>div{ float: left; margin-right:30px;}
.grade-1 li{ width: 27px; height: 27px; text-align:center; line-height:30px; color:#fff; font-size:14px; margin-bottom:3px;}
.s-pic-green{ background:url(../img/green.png) no-repeat center center;}
.s-pic-blue{ background:url(../img/blue.png) no-repeat center center;}
.s-pic-yellow{ background:url(../img/yellow.png) no-repeat center center;}
.s-pic-orange{ background:url(../img/orange.png) no-repeat center center;}
.s-pic-red{ background:url(../img/red.png) no-repeat center center;}

.grade-2{ width: 150px; height: 150px; background:url(../img/b-circle.png) no-repeat center center;}
.grade-3{ width: 90px; height: 90px; position: absolute; left: 346px; bottom: 0;background:url(../img/bim.png) no-repeat center center;}
.grade-4{ position: absolute; right:78px; bottom:4px;}
.grade-4 li{ line-height:20px; font-size:14px; color:#343434; }

/* ----------- main ----------- */
.main-bottom{ height: auto; position:relative;text-align:center;margin-bottom: 30px;}
.main-bottom span{ position:absolute;font-size:13px; font-weight:700; color:#108fd5;}

.container{ width:100%; height: 600px; position:relative; margin:45px auto 0;}
.dot{ width:100px; height:100px; position:absolute; left: 0; top: 0;}
#indicatorContainer2{ position:relative;}
#indicatorContainer2 canvas{ position:absolute;}


/* ----------- footer ----------- */
.footer{ font-size:12px; color:#343434;}
.footer li{ float: left;}
.footer-t{ padding:0 10px; }
.footer-t li{line-height: 34px;}
.footer-t li:last-of-type{ float: right;}
.footer-b{height: 50px; line-height: 32px; padding:0 10px; border-top: 1px solid #2489a9;}
.footer-b li:last-of-type{ float: right;}


