<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.AgeSickRiskRoutMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">

	</sql>

	<select id="findEnterprisePage" resultType="com.lanyuan.entity.AgeSickRiskRoutFormMap">
SELECT
  asrc.id,
  asrc.age_min,
  asrc.age_max,
  asrc.sex,
  asrc.rout,
  asrc.sick_risk_id
FROM age_sick_risk_config asrc
WHERE asrc.sick_risk_id = ${sick_risk_id}
ORDER BY asrc.id DESC
	</select>







    <select id="findFixConfig" resultType="com.lanyuan.entity.AgeSickRiskRoutFormMap">
        SELECT
        asrc.id,
        asrc.age_min,
        asrc.age_max,
        asrc.sex,
        asrc.rout,
        asrc.sick_risk_id
        FROM age_sick_risk_config asrc
        WHERE asrc.age_min &lt;= ${age} AND asrc.age_max &gt;= ${age} AND asrc.sick_risk_id = ${sick_risk_id} ORDER BY asrc.id DESC
    </select>



</mapper>