<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.BmiSickRiskRoutMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">

	</sql>

	<select id="findEnterprisePage" resultType="com.lanyuan.entity.BmiSickRiskRoutFormMap">
		SELECT bsrc.id,
       bsrc.bmi_min,
       bsrc.bmi_max,
       bsrc.sick_risk_id,
       bsrc.rout FROM bmi_sick_risk_config bsrc WHERE bsrc.sick_risk_id=${sick_risk_id} ORDER by bsrc.id DESC
	</select>




	<select id="findFixConfig" resultType="com.lanyuan.entity.BmiSickRiskRoutFormMap">
		SELECT
		bsrc.id,
		bsrc.bmi_min,
		bsrc.bmi_max,
		bsrc.sick_risk_id,
		bsrc.rout
		FROM bmi_sick_risk_config bsrc
		WHERE bsrc.bmi_min &lt;= ${bmi} AND bsrc.bmi_max &gt;= ${bmi} AND bsrc.sick_risk_id = ${sick_risk_id}
		ORDER BY bsrc.id DESC
	</select>




</mapper>