<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.CfPingfenRoutMapper">
	<cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" />
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
	   cpr.id,
       cpr.age_max,
       cpr.age_min,
       cpr.rout_min,
       cpr.rout_max,
       cpr.update_time,
       cpr.valid,
       cpr.small_id,
       cpl.name orgin_pingfen_leve_name,
       cpl.pingfen_min orgin_pingfen_min,
       cpl.pingfen_max orgin_pingfen_max,
       cpl.show_color orgin_pingfen_color,
       cpl1.name tz_pingfen_leve_name,
       cpl1.pingfen_min tz_pingfen_min,
       cpl1.pingfen_max tz_pingfen_max,
       cpl1.show_color tz_pingfen_color
	</sql>

	<select id="findEnterprisePage" resultType="com.lanyuan.entity.CfPingfenRoutFormMap">
		select
		<include refid="selectId" />
		FROM cf_pingfen_rout cpr LEFT JOIN cf_pingfen_leve cpl ON cpr.orgin_pingfen_id=cpl.id LEFT JOIN cf_pingfen_leve cpl1 ON cpr.tz_pingfen_id=cpl1.id
		where 1 = 1
		<if test="small_id != null">
			AND cpr.small_id = ${small_id}
		</if>
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
	</select>



	<select id="findSmallItemRout" resultType="com.lanyuan.entity.CfPingfenRoutFormMap">

		SELECT
		cpr.id,
		cpr.age_max,
		cpr.age_min,
		cpr.rout_min,
		cpr.rout_max,
		cpr.update_time,
		cpr.valid,
		cpr.small_id,
		cpr.orgin_pingfen_id,
		cpr.tz_pingfen_id
		FROM cf_pingfen_rout cpr
		WHERE
		<if test="small_id != null">
			cpr.small_id = ${small_id}
		</if>

		<if test="orgin_pingfen_id !=null">
			AND cpr.orgin_pingfen_id = ${orgin_pingfen_id}
		</if>

		<if test="age !=null">
			 AND cpr.age_min &lt;= ${age} AND cpr.age_max  &gt;= ${age}
		</if>
		ORDER BY cpr.id DESC

	</select>

</mapper>