<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.CheckBigItemMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id, name, withsex, normal_age, charts_item, show_exc_tips, exc_tips_count, controller_age,
    age_min, age_max, is_show, order_by, insert_time, update_time
	</sql>

	<select id="findEnterprisePage" resultType="com.lanyuan.entity.CheckBigItemFormMap">
		select
		<include refid="selectId" />
		from check_big_item
		where 1 = 1
		<choose>
			<when test="orderby != null">
				${orderby} ,order_by ASC
			</when>
			<otherwise>
				ORDER  BY order_by ASC
			</otherwise>
		</choose>
	</select>

	<select id="findLasyOrderItemCout" resultType="java.lang.Integer">
		SELECT  order_by FROM  check_big_item ORDER BY order_by DESC limit 1;
	</select>
	
</mapper>