<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.CheckBigItemMapper">
	<cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" />
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		cbi.id,
       cbi.name,
       cbi.withsex,
       cbi.normal_age,
       cbi.charts_item,
       cbi.show_exc_tips,
       cbi.exc_tips_count,
       cbi.controller_age,
       cbi.age_min,
       cbi.age_max,
       cbi.order_by,
       cbi.insert_time,
       cbi.update_time,
       cbi.quanzhong,
       cbi.tips_content,
       cbi.withbmi,
       cbi.icon
	</sql>

	<select id="findEnterprisePage" resultType="com.lanyuan.entity.CheckBigItemFormMap">
		select
		<include refid="selectId" />
		FROM check_big_item cbi
		where 1 = 1
		<if test="name != null">
			AND cbi.name = '${name}'
		</if>
		<if test="orderby != null">
			ORDER  by ${orderby}
		</if>
	</select>

	<select id="findLasyOrderItemCout" resultType="java.lang.Integer">
		SELECT  order_by FROM  check_big_item ORDER BY order_by DESC limit 1;
	</select>
	
</mapper>