<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.CheckItemDegrLeveZhanbiMapper">
	<!--<cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" />-->
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache"
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->


	<select id="findPage" resultType="com.lanyuan.entity.CheckItemDegrLeveZhanbiFormMap">
		SELECT
		cidlz.id,
		cidlz.check_id,
		cidlz.check_type,
		cidlz.age_min,
		cidlz.age_max,
		cidlz.bmi_min,
		cidlz.bmi_max,
		cidlz.bodyheight_min,
		cidlz.bodyheight_max,
		cidlz.weight_min,
		cidlz.weight_max,
		cidlz.leve_1_procent,
		cidlz.leve_2_procent,
		cidlz.leve_3_procent,
		cidlz.leve_4_procent,
		cidlz.leve_5_procent
		FROM check_item_degr_leve_zhanbi cidlz
		WHERE cidlz.check_id = ${check_id} AND cidlz.check_type = ${check_type}
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
	</select>


	<select id="findFZhanbiList" resultType="com.lanyuan.entity.CheckItemDegrLeveZhanbiFormMap">
		SELECT
		cidlz.id,
		cidlz.check_id,
		cidlz.check_type,
		cidlz.age_min,
		cidlz.age_max,
		cidlz.bmi_min,
		cidlz.bmi_max,
		cidlz.bodyheight_min,
		cidlz.bodyheight_max,
		cidlz.weight_min,
		cidlz.weight_max,
		cidlz.leve_1_procent,
		cidlz.leve_2_procent,
		cidlz.leve_3_procent,
		cidlz.leve_4_procent,
		cidlz.leve_5_procent
		FROM check_item_degr_leve_zhanbi cidlz
		WHERE 1=1
		<if test="check_id != null">
			AND cidlz.check_id = ${check_id}
		</if>
		 AND cidlz.check_type = ${check_type} AND cidlz.age_min &lt;= ${age} AND cidlz.age_max &gt;= ${age} AND cidlz.bmi_min &lt;= ${bmi} AND cidlz.bmi_max &gt;= ${bmi} AND cidlz.bodyheight_min &lt;= ${bodyheight} AND cidlz.bodyheight_max &gt;= ${bodyheight} AND cidlz.weight_min &lt;= ${weight} AND cidlz.weight_max &gt;= ${weight};
	</select>





</mapper>