<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.EnterpriseMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		enterprise_info.id, enterprise_info.name, enterprise_info.insert_time, enterprise_info.update_time, enterprise_info.valid, enterprise_info.contact_name, enterprise_info.contact_phone, enterprise_info.remark,(SELECT
		COUNT(*) ct
		FROM sub_enterprise_point
		WHERE enterprise_info.id = sub_enterprise_point.ent_id) AS sub_point_count
	</sql>

	<select id="findEnterprisePage" resultType="com.lanyuan.entity.EnterpriseFormMap">
		select
		<include refid="selectId" />
		FROM enterprise_info
		where 1 = 1
		<if test="valid != null">
			and enterprise_info.valid=${valid}
		</if>
		<if test="name != null">
			and enterprise_info.name LIKE '%${name}%'
		</if>
		<if test="insert_start != null">
			and enterprise_info.insert_time &gt;  ${insert_start}
		</if>
		<if test="insert_end != null">
			and enterprise_info.insert_time &lt;  ${insert_end}
		</if>
		<if test="orderby != null">
			${orderby}
		</if>
	</select>
	
</mapper>