<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.EquipmentMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
	   ii.id,
       ii.istmt_code,
       ii.organization_id,
       ii.remark,
       ii.create_time,
       lo.name organization_name
	</sql>

	<select id="findEnterprisePage" resultType="com.lanyuan.entity.EquipmentFormMap">
		select
		<include refid="selectId" />
		FROM instrument_info ii
		LEFT JOIN ly_organization lo
		ON ii.organization_id = lo.id
		where 1 = 1
		<if test="organization_id != null">
			AND ii.organization_id = ${organization_id}
		</if>
		<if test="istmt_code != null">
			AND ii.istmt_code='${istmt_code}'
		</if>
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
	</select>

	<select id="findLasyOrderItemCout" resultType="java.lang.Integer">
		SELECT  order_by FROM  check_small_item ORDER BY order_by DESC limit 1;
	</select>
	
</mapper>