<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.PhysicalExaminationRecordMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache"
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		per.id,
		per.status,
		per.report_gentime,
		per.report_path,
		per.check_time,
		ci.idcard,
		ci.mobile,
		ci.name custom_name,
		ci.sex,
		ci.birthday,
		lo.id organization_id,
		lo.name organization_name
	</sql>

	<select id="findEnterprisePage" resultType="com.lanyuan.entity.PhysicalExaminationRecordFormMap">
		SELECT
		<include refid="selectId" />
		FROM physical_examination_record per
		LEFT JOIN custom_info ci
		ON per.custom_id = ci.id
		LEFT JOIN ly_organization lo
		ON lo.id = per.organization_id
		WHERE  1=1
		<if test="name != null">
			AND ci.name = '${name}'
		</if>
		<if test="mobile != null">
			AND ci.mobile = '${mobile}'
		</if>
		<if test="check_time_start != null">
			AND per.check_time &gt;= '${check_time_start}'
		</if>
		<if test="check_time_end != null">
			AND per.check_time &lt;= '${check_time_end}'
		</if>
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
	</select>



	<select id="findEnterprisePage_Front" resultType="com.lanyuan.entity.PhysicalExaminationRecordFormMap">
		SELECT
		per.id,
		per.organization_id,
		per.status,
		per.check_time,
		ci.mobile,
		ci.name,
		ci.sex
		FROM physical_examination_record per
		LEFT JOIN custom_info ci
		ON per.custom_id = ci.id
		WHERE  per.organization_id = ${organization_id}
		<if test="name != null">
			AND ci.name = '${name}'
		</if>
		<if test="mobile != null">
			AND ci.mobile = '${mobile}'
		</if>
		<if test="check_time_start != null">
			AND per.check_time &gt;= '${check_time_start}'
		</if>
		<if test="check_time_end != null">
			AND per.check_time &lt;= '${check_time_end}'
		</if>
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
	</select>



	<select id="findExaminationRecordCustomInfo" resultType="com.lanyuan.entity.PhysicalExaminationRecordFormMap">
		SELECT
  per.id,
  per.organization_id,
  per.check_time,
  ci.name,
  ci.sex,
  ci.birthday,
  ci.body_height,
  ci.weight
FROM physical_examination_record per
  LEFT JOIN custom_info ci
    ON per.custom_id = ci.id
WHERE per.id = ${id}
	</select>


	<select id="findListWill2GenPdfReport" resultType="com.lanyuan.entity.PhysicalExaminationRecordFormMap">
SELECT
  per.id,
  per.custom_id,
  per.organization_id,
  per.instrument_id,
  per.status,
  per.report_gentime,
  per.report_path,
  per.check_time,
  per.update_time
FROM physical_examination_record per
WHERE per.status = ${status} AND per.check_time &lt;= DATE_ADD(NOW(),INTERVAL   ${before_minute} MINUTE) AND ( per.report_path IS NULL OR per.report_path = '') ORDER BY per.id ASC
	</select>



	<select id="findNeed2GenData" resultType="com.lanyuan.entity.PhysicalExaminationRecordFormMap">
		SELECT
		per.id,
		per.custom_id,
		per.organization_id,
		per.Instrument_id,
		per.status,
		per.report_gentime,
		per.report_path,
		per.check_time,
		per.update_time
		FROM physical_examination_record per
		WHERE per.check_time  &lt;= DATE_ADD(NOW(), INTERVAL ${before_minute} MINUTE) AND per.status = ${status}
		ORDER BY per.id ASC
	</select>


	<select id="findLastTeastRecord" resultType="com.lanyuan.entity.PhysicalExaminationRecordFormMap">
SELECT
  per.id,
  per.custom_id,
  per.organization_id,
  per.Instrument_id,
  per.status,
  per.report_gentime,
  per.report_path,
  per.check_time,
  per.update_time
FROM physical_examination_record per
WHERE per.custom_id = ${custom_id} AND per.id != ${exclude_id}
ORDER BY per.id DESC LIMIT 1
	</select>


	<select id="statsExamination" resultType="com.lanyuan.entity.PhysicalExaminationRecordFormMap">
/*SELECT
  lo.id,
  lo.name org_name,
  lo.pid,
  lo.createdatetime,
  zz.ct2 jcrenshu,
  zz.ct jcrenci
FROM ly_organization lo
  LEFT JOIN (SELECT
      aa.organization_id,
      aa.ct2,
      bb.ct
    FROM (SELECT
        per.organization_id,
        COUNT(DISTINCT (per.custom_id)) ct2
      FROM physical_examination_record per
      GROUP BY per.organization_id) aa
      LEFT JOIN (SELECT
          per.organization_id,
          COUNT(1) ct
        FROM physical_examination_record per
        GROUP BY per.organization_id) bb
        ON aa.organization_id = bb.organization_id) zz
    ON zz.organization_id = lo.id*/

 SELECT
  lo.id,
  lo.name org_name,
  lo.pid,
  lo.createdatetime,
  zz.ct2 jcrenshu,
  zz.ct jcrenci
FROM ly_organization lo
  LEFT JOIN (SELECT
      aa.organization_id,
      aa.ct2,
      bb.ct
    FROM (SELECT
        per.organization_id,
        COUNT(DISTINCT (per.custom_id)) ct2
      FROM physical_examination_record per
      <if test="month !=null">
		  WHERE per.check_time>DATE_ADD(NOW(),INTERVAL -${month} MONTH)
	  </if>
      GROUP BY per.organization_id) aa
      LEFT JOIN (SELECT
          per.organization_id,
          COUNT(1) ct
        FROM physical_examination_record per
		<if test="month !=null">
			WHERE per.check_time>DATE_ADD(NOW(),INTERVAL -${month} MONTH)
		</if>
        GROUP BY per.organization_id) bb
        ON aa.organization_id = bb.organization_id) zz
    ON zz.organization_id = lo.id
		<if test="organization_id != null">
			WHERE lo.id = ${organization_id}
		</if>
	</select>


	<select id="statsExamination_Total" resultType="com.lanyuan.entity.PhysicalExaminationRecordFormMap">
SELECT
  cc.total1,
  cc.zrenshu zrenshu,
  dd.zjiancerenshu zrenci
FROM (SELECT
    - 100 AS total1,
    COUNT(DISTINCT (per.custom_id)) AS zrenshu
  FROM physical_examination_record per) cc
  LEFT JOIN (SELECT
      - 100 AS total2,
      COUNT(1) zjiancerenshu
    FROM physical_examination_record per) dd
    ON cc.total1 = cc.total1
	</select>

</mapper>