<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.PhysicalExaminationRecordMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
  per.id,
  per.status,
  per.report_gentime,
  per.report_path,
  per.check_time,
  ci.idcard,
  ci.mobile,
  ci.name custom_name,
  ci.sex,
  ci.birthday,
  lo.id organization_id,
  lo.name organization_name
	</sql>

	<select id="findEnterprisePage" resultType="com.lanyuan.entity.PhysicalExaminationRecordFormMap">
		select
		<include refid="selectId" />
		FROM physical_examination_record per
		LEFT JOIN custom_info ci
		ON per.custom_id = ci.id
		LEFT JOIN ly_organization lo
		ON ci.organization_id = lo.id
		where 1 = 1
		<if test="name != null">
			AND ci.name = '${name}'
		</if>
		<if test="mobile != null">
			AND ci.mobile = '${mobile}'
		</if>
		<if test="organization_id != null">
			AND per.organization_id = ${organization_id}
		</if>
		<if test="check_time_start != null">
			AND per.check_time &gt;= '${check_time_start}'
		</if>
		<if test="check_time_end != null">
			AND per.check_time &lt;= '${check_time_end}'
		</if>
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
	</select>


	
</mapper>