<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.SickRiskItemMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->

	<select id="findEnterprisePage" resultType="com.lanyuan.entity.SickRiskItemFormMap">
		SELECT
  sri.id,
  sri.name
FROM sick_risk_item sri
ORDER BY sri.id DESC
	</select>



	<select id="findItemsWithSex" resultType="com.lanyuan.entity.SickRiskItemFormMap">
SELECT
  sri.id,
  sri.name,
  sri.with_sex
FROM sick_risk_item sri
WHERE
1=1
<if test="with_sex != null">
  AND 	with_sex = 0 OR with_sex = ${with_sex}
</if>
ORDER BY sri.id DESC
	</select>



</mapper>