<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.UserEntrelationMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id, name, insert_time, update_time, valid, contact_name, contact_phone, remark
	</sql>

	<select id="findEnterprisePage" resultType="com.lanyuan.entity.EnterpriseFormMap">
		select
		<include refid="selectId" />
		from enterprise_info
		where 1 = 1
		<if test="valid != null">
			and valid=${valid}
		</if>
		<if test="orderby != null">
			${orderby}
		</if>
	</select>
	
</mapper>